<a href="https://colab.research.google.com/github/anmol0720/Linear-Regresssion---Data-Preprocessing/blob/master/TensorFlow_with_GPU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Importing and Preprocessing

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df=pd.read_csv('House_Price.csv',header=0)

In [4]:
df.head()

   price  crime_rate  resid_area  ...  rainfall  bus_ter     parks
0   24.0     0.00632       32.31  ...        23      YES  0.049347
1   21.6     0.02731       37.07  ...        42      YES  0.046146
2   34.7     0.02729       37.07  ...        38      YES  0.045764
3   33.4     0.03237       32.18  ...        45      YES  0.047151
4   36.2     0.06905       32.18  ...        55      YES  0.039474

[5 rows x 19 columns]

In [5]:
df.shape

(506, 19)